# OpenCTI
OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=__WSTAW_TOKEN__

# Connector
CONNECTOR_ID=__UUID_V4__(np.uuidgen)
CONNECTOR_NAME=MISP
CONNECTOR_SCOPE=report,indicator,malware,attack-pattern,vulnerability
CONNECTOR_LOG_LEVEL=info

# MISP endpoint
MISP_URL=http://localhost:8081
MISP_KEY=__MISP_API_KEY__(do wygenerowanie z dashboardu misp, po aktywacji dockera)
MISP_SSL_VERIFY=false
MISP_INTERVAL=6h