# OpenCTI
OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=__WSTAW_TOKEN__

# Connector
CONNECTOR_ID=__UUID_V4__(np.uuidgen)
CONNECTOR_NAME=MITRE-ATTACK
CONNECTOR_SCOPE=attack
CONNECTOR_LOG_LEVEL=info

# MITRE
MITRE_ENTERPRISE=true
MITRE_MOBILE=true
MITRE_ICS=false
MITRE_INTERVAL=24h