# OpenCTI
OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=__WSTAW_TOKEN__

# Connector
CONNECTOR_ID=__UUID_V4__(np.uuidgen)
CONNECTOR_NAME=CVE
CONNECTOR_SCOPE=cve
CONNECTOR_LOG_LEVEL=info

# CVE (NVD)
CVE_API_KEY=__NVD_API_KEY__(Api key jest za darmo z publicznej strony wystarczy zarejestrować konto)
CVE_IMPORT_HISTORY=true
CVE_INTERVAL=6h