# OpenCTI
OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=__WSTAW_TOKEN__

# Connector
CONNECTOR_ID=__UUID_V4__(np.uuidgen)
CONNECTOR_NAME=CISA-KEV
CONNECTOR_SCOPE=identity,vulnerability
CONNECTOR_LOG_LEVEL=info

# CISA KEV
CISA_KEV_INTERVAL=24h